---
import Layout from "@layout/layout.astro";
---

<Layout>
    <section class="leveranciers-section">
        <h2 class="title">Leveranciers</h2>
    </section>
</Layout>

<style>
    .leveranciers-section {
        padding: 10rem var(--container-padding-md) 2rem
            var(--container-padding-md);
    }

    .title {
        font-size: 9vw;
        text-align: center;
    }
</style>
