---
import Layout from "@layout/layout.astro";
---

<Layout>
    <section class="leveranciers-section">
        <h2 class="title">Onze Leveranciers</h2>
    </section>
</Layout>

<style>
    .leveranciers-section {
        padding: 9rem var(--container-padding-md) 2rem
            var(--container-padding-md);
    }

    .title {
        
    }
</style>
