<div class="text-link">
    <a class="link-click link-hover" href="/" aria-label="Contact">
        <div class="link-content">
            <div class="link-text">
                <span class="label">Plan je route</span>
                <span class="duplicate">Plan je route</span>
            </div>
        </div>
    </a>
</div>

<style>
    .link-click {
        display: inline-block;
        font-family: "sale", sans-serif;
        text-transform: uppercase;
        padding: 10px 12px;
        border: 2px solid var(--color-dark);
        background-color: white;
        border-radius: 16px;
        width: 100%;
    }

    .link-text span {
        color: var(--color-dark);
        font-size: 10px;
        padding-right: 3px;
    }

    @media screen and (min-width: 368px) {
        .link-text span {
            font-size: 12px;
        }
    }

    @media screen and (min-width: 687px) {
        .link-click {
            display: inline-block;
            font-family: "sale", sans-serif;
            text-transform: uppercase;
            padding: 16px 14px;
            border: 2px solid var(--color-dark);
            background-color: white;
            border-radius: 18px;
            width: 100%;
        }

        .link-text span {
            font-size: 16px;
        }
    }

    @media screen and (min-width: 1024px) {
        .link-click {
            padding: 20px 18px;
            border-radius: 24px;
        }

        .link-text span {
            font-size: 20px;
        }
    }
</style>
