<div class="text-link">
    <a class="link-click" href="/" aria-label="Contact">
        <div class="link-content">
            <div class="link-text">
                <span class="label">Plan je route</span>
                <span class="duplicate">Plan je route</span>
            </div>
        </div>
    </a>
</div>

<style>
 .link-click {
        display: inline-block;
        font-family: "sale", sans-serif;
        text-transform: uppercase;
        padding: 10px 12px;
        border: 2px solid var(--color-dark);
        background-color: white;
        border-radius: 16px;
        width: 100%;
}

.link-text span {
    color: var(--color-dark);
    font-size: 10px;
}

@media screen and (min-width: 368px) {
    .link-text span {
        font-size: 12px;
    }
}
</style>
