<section class="find-us-section">

</section>

<style>
    .find-us-section {
        padding: 4rem var(--container-padding-lg) 4rem
            var(--container-padding-lg);
    }

    @media screen and (min-width: 687px) {
        .find-us-section {
            padding: 6rem var(--container-padding-xl) 6rem
                var(--container-padding-xl);
        }
    }

    @media screen and (min-width: 1024px) {
        .find-us-section {
            padding: 8rem var(--container-padding-lg) 8rem
                var(--container-padding-lg);
        }
    }
</style>