<section class="intro-text">
    <h3>Zoals het hoort!</h3>
    <p>
        Bij Stadsmarkt de Pijp doe je boodschappen met een goed gevoel. Lokale
        groentes, vis, vlees en kazen vormen de basis, aangevuld met de
        vertrouwde producten die je kent uit de supermarkt.<br />
        <br />
        Biologisch en seizoensgebonden waar het kan, en altijd bewust en dichtbij.
        Zo combineer je het beste van beide werelden en smaakt boodschappen doen
        weer zoals het hoort: eerlijk, lekker en nét even bewuster.
    </p>
</section>

<style>
    .intro-text {
        padding: 2rem var(--container-padding-lg) 2rem
            var(--container-padding-lg);
    }

    /* .intro-text h3 {
        text-wrap: nowrap;
    } */

    .intro-text p {
        margin: 1rem 0 0 0;
    }

    @media screen and (min-width: 687px) {
        .intro-text {
            padding: 3rem var(--container-padding-xl) 3rem
                var(--container-padding-xl);
        }
    }

    @media screen and (min-width: 1024px) {
        .intro-text {
            display: flex;
            flex-direction: row;
            padding: 5rem var(--container-padding-xl) 5rem
                var(--container-padding-xl);
        }

        .intro-text p {
            margin: 0;
        }

        .intro-text h3 {
            min-width: 25vw;
            margin-right: 10vw;
        }
    }
</style>
