---
import Button from "@atoms/Button.astro";
import { Image } from "astro:assets";
import SecondaryNav from "@molecules/SecondaryNavigation.astro";
import logo from "@images/logo.svg";
---

<SecondaryNav />

<nav class="main-nav container">
    <div class="link hamburger">
        <div class="link-click link-hover" data-navigation-toggle="toggle">
            <div class="link-content">
                <div class="stripes">
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                    <div class="stripe"></div>
                </div>
                <div class="link-text">
                    <span class="label">Menu</span>
                    <span class="duplicate">Menu</span>
                </div>
            </div>
        </div>
    </div>

    <ul class="main-nav-list">
        <li class="link">
            <a
                class="link-click link-hover"
                href="/leveranciers"
                aria-label="Contact"
            >
                <div class="link-content">
                    <div class="link-text">
                        <span class="label">Leveranciers</span>
                        <span class="duplicate">Leveranciers</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="link">
            <a
                class="link-click link-hover"
                href="/ons-team"
                aria-label="Contact"
            >
                <div class="link-content">
                    <div class="link-text">
                        <span class="label"
                            >Ons <span class="title-spacing">t</span>eam</span
                        >
                        <span class="duplicate"
                            >Ons <span class="title-spacing">t</span>eam</span
                        >
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <ul class="main-nav-list">
        <li class="link">
            <a
                class="link-click link-hover"
                href="/contact"
                aria-label="Contact"
            >
                <div class="link-content">
                    <div class="link-text">
                        <span class="label"
                            >Con<span class="title-spacing">t</span>act</span
                        >
                        <span class="duplicate"
                            >Con<span class="title-spacing">t</span>act</span
                        >
                    </div>
                </div>
            </a>
        </li>
        <li class="nav-button">
            <Button />
        </li>
    </ul>

    <div class="nav-button-mobile">
        <Button />
    </div>

    <div class="nav-logo">
        <a href="/">
            <Image
                src={logo}
                alt="Stadsmarkt de Pijp"
                width={140}
                height={140}
            />
        </a>
    </div>
</nav>

<div class="menu-overlay" id="menu-overlay">
    <div class="menu-popup">
        <button class="menu-close" id="menu-close" aria-label="Sluit menu"
            ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                ></path>
            </svg>
        </button>

        <ul class="menu-list">
            <li class="link">
                <a class="link-click link-hover" href="/" aria-label="Contact">
                    <div class="link-content">
                        <div class="link-text">
                            <span class="label">Home</span>
                            <span class="duplicate">Home</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="link">
                <a
                    class="link-click link-hover"
                    href="/leveranciers"
                    aria-label="Contact"
                >
                    <div class="link-content">
                        <div class="link-text">
                            <span class="label">Leveranciers</span>
                            <span class="duplicate">Leveranciers</span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="link">
                <a
                    class="link-click link-hover"
                    href="/ons-team"
                    aria-label="Contact"
                >
                    <div class="link-content">
                        <div class="link-text">
                            <span class="label"
                                >Ons <span class="title-spacing">t</span
                                >eam</span
                            >
                            <span class="duplicate"
                                >Ons <span class="title-spacing">t</span
                                >eam</span
                            >
                        </div>
                    </div>
                </a>
            </li>
            <li class="link">
                <a
                    class="link-click link-hover"
                    href="/contact"
                    aria-label="Contact"
                >
                    <div class="link-content">
                        <div class="link-text">
                            <span class="label"
                                >Con<span class="title-spacing">t</span
                                >act</span
                            >
                            <span class="duplicate"
                                >Con<span class="title-spacing">t</span
                                >act</span
                            >
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="menu-button">
            <div class="text-link">
                <a class="link-click" href="/" aria-label="Contact">
                    <div class="link-content">
                        <div class="link-text">
                            <span class="label">Plan je route</span>
                            <span class="duplicate">Plan je route</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
    .main-nav {
        position: fixed;
        display: flex; /* Flexbox in plaats van Grid! */
        justify-content: space-between; /* Menu links, button rechts */
        align-items: center; /* Alles verticaal centreren */
        height: 80px;
        background-color: var(--color-light);
        pointer-events: all;
        top: env(safe-area-inset-top, 0);
        z-index: 1000;
        left: 0;
        width: 100%;
        z-index: 10;
        transform: translateY(1.9em);
        border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
        transition: transform 0.5s cubic-bezier(0.33, 1.7, 0.55, 1);
    }

    .main-nav--pinned {
        transform: translateY(0);
    }

    .main-nav::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 3vw; /* Ruimte links */
        right: 3vw; /* Ruimte rechts */
        height: 2px;
        background-color: var(--color-dark);
    }

    .main-nav-items {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .main-nav .link.hamburger .stripes {
        width: 1em;
        height: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
        gap: 2px;
        flex-direction: column;
    }

    .main-nav .link.hamburger .stripes .stripe {
        width: 100%;
        display: block;
        height: 2px;
        background-color: var(--color-dark);
    }

    .main-nav-list {
        display: none;
    }

    /* Logo - absolute positionering voor perfecte centrering en offset */
    .nav-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        z-index: 1000;
    }

    .nav-logo a {
        display: flex;
        align-items: center;
    }

    .nav-logo a img {
        display: block;
        width: 100px;
        height: auto;
    }

    /* === MENU POPUP === */
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
        z-index: 2000;
    }

    .menu-overlay.active {
        opacity: 1;
        pointer-events: all;
    }

    .menu-popup {
        background: var(--color-light);
        border-radius: 30px;
        padding: 32px 20px 20px;
        width: 85%;
        max-width: 320px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
        transform: translateY(30px);
        transition: all 0.5s cubic-bezier(0.33, 1.7, 0.55, 1);
    }

    .menu-overlay.active .menu-popup {
        transform: translateY(0);
    }

    /* Close knop (X) */
    .menu-close {
        position: absolute;
        top: 1.2rem;
        right: 1.4rem;
        width: 36px;
        height: 36px;
        font-size: 22px;
        cursor: pointer;
        color: var(--color-primary);
        background: none;
        border: none;
        transition:
            all 0.2s ease,
            color 0.2s ease;
    }

    .menu-close:hover {
        color: var(--color-dark);
    }

    /* Menu lijst */
    .menu-list {
        list-style: none;
        margin: 1rem 0 2rem;
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .menu-list li a span {
        font-family: var(--font-heading);
        text-decoration: none;
        text-transform: uppercase;
        color: var(--color-primary);
        font-size: 22px;
        padding-right: 3px;
    }

    .menu-list li a span .title-spacing,
    .main-nav-list li a span .title-spacing {
        letter-spacing: -8px;
    }

    /* Knoppen onderaan */
    .menu-button {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */
    }

    .menu-button .link-click {
        display: inline-block;
        font-family: "sale", sans-serif;
        text-transform: uppercase;
        padding: 22px 12px;
        border: 2px solid var(--color-dark);
        background-color: white;
        border-radius: 20px;
        width: 100%;
    }

    .menu-button .link-text span {
        color: var(--color-dark);
        font-size: 18px;
    }

    @media screen and (min-width: 687px) {
        .main-nav {
            height: 80px;
            transform: translateY(2.1em);
            border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
        }

        .main-nav--pinned {
            transform: translateY(0);
        }

        .title-spacing {
            letter-spacing: -4px;
        }

        .main-nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2vw;
            font-family: "sale", sans-serif;
            color: var(--text-color);
        }

        .nav-button-mobile {
            display: none;
        }

        .main-nav .hamburger {
            display: none;
        }

        .nav-button span {
            font-size: 18px;
        }

        .nav-logo a img {
            width: clamp(100px, 10vw, 130px);
            height: auto;
        }
    }

    @media screen and (min-width: 887px) {
        .nav-logo {
            top: 0.5vw;
        }
    }

    @media screen and (min-width: 1024px) {
        .main-nav {
            height: 90px;
        }

        .main-nav-list li a span {
            font-size: 22px;
        }
    }
</style>

<script>
    import { initNavigation } from "@lib/navigation";

    // Initialiseer wanneer pagina geladen is
    document.addEventListener("DOMContentLoaded", () => {
        initNavigation();
    });
</script>
